/* ------------------------- GERAL ----------------------------- */
html {
    scroll-behavior: smooth;
}

body {
    background-color: #fafafa;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 55%;
    margin: 30px auto;
}

button {
    padding: 10px 25px;
    font-weight: 900;
    transition: all 0.2s;
}

p {
    font-size: 1.1em;
}

label {
    font-size: 1.2em;
}

input {
    font-size: 1.1em;
}


[type="submit"]:not(#send-button) {
    background-position: center;
    background-size: 30px;
    background-repeat: no-repeat;
    background-color: #00000000;
    color: #00000000;
    padding: 20px;
    transition: all 0.3s;
}

[type="submit"]:not(#send-button):hover {
    background-color: #AAA;
} 

[type="submit"]:not(#send-button):active {
    background-color: #888;
} 

* {
    border-radius: 5px;
}

/* ------------------------- FLOATING BUTTON ----------------------------- */
a:last-of-type {
    width: 50px;
    height: 50px;
    background-image: url('../img/up-arrow.svg');
    position: fixed;
    right: 50px;
    top: 45%;
    transition: all 0.2s;
}

a:last-of-type:hover {
    width: 60px;
    height: 60px;
}

/* ------------------------- HEADER ----------------------------- */
header {
    display: flex;
    justify-content: center;
    background-color: #333;
    border-radius: 0;
    position: sticky;
    top: 0;
    z-index: 10;
}

header img {
    padding: 10px;
    width: 120px;
}

/* ------------------------- FORMULARIO ----------------------------- */
form {
    display: flex;
    flex-wrap: wrap;
}

#main-form {
    padding: 30px;
    margin-bottom: 50px;
    background-color: #EEE;
}

form label {
    width: 20%;
    font-weight: 600;
}

form input {
    width: 80%;
    height: 25px;
    margin-bottom: 20px;
    background-color: #DDD;
    border: none;
    outline: none;
    box-sizing: border-box;
    padding: 20px;
}

form #send-button {
    background-color: #DDD;
    width: auto;
    height: auto;
    padding: 10px 25px;
    font-weight: 900;
    transition: all 0.2s;
    margin: 0 auto;
    color: #333;
}

#send-button:hover {
    background-color: #AAA;
}

#send-button:active {
    background-color: #888;
}
form :nth-child(4) {
    height: 80px;
}


/* ------------------------- TOOLBAR ----------------------------- */
h1 {
    text-align: center;
    position: relative;
    margin-bottom: 30px;
}

h1:after {
    content: '';
    position: absolute;
    width: 80px;
    height: 2px;
    background-color: #333;
    top: 100%;
    right: 47.5%;
    transform-origin: left;
}

#toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#toolbar #get-button {
    margin-left: 30px;
    background-image: url('../img/refresh.svg');

    width: 35px;
    height: 35px;
}

#toolbar #container-id {
    display: flex;
    align-items: center;
}

#toolbar #get-by-id-button {
    background-image: url('../img/search.svg');
    width: 30px;
    height: 30px;
    margin-right: 30px;
    margin-left: 5px;
}

#toolbar #input-id {
    height: 35px;
    width: 90px;
    outline: none;
    border: none;
    background-color: #DDD;
    padding: 10px;
}

/* ------------------------- MESSAGES ----------------------------- */
#messages > div {
    width: 100%;
    min-height: 150px;
    background-color: #333;
    color: #fafafa;
    margin: 20px 0;
    padding: 20px;
}

#messages div :first-child {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

#messages .delete-button {
    background-image: url('../img/trash.svg');
    width: 25px;
    height: 25px;
    background-size: 25px;
}

#messages .edit-button {
    background-image: url('../img/edit.svg');
    width: 25px;
    height: 25px;
    margin: 0 20px;
    background-size: 25px;
}

#messages #div-buttons {
    display: flex;
}

/* ------------------------- EDIT DIV ----------------------------- */
#messages .div-edit {
    margin: 0;
    margin-top: 60px;
    background-color: #222;
    width: 100%;
    padding: 30px;
}

#messages .div-edit form {
    margin: 0;
}

#messages .div-edit div {
    display: flex;
    margin: 0 auto;
}

#messages .div-edit div > * {
    height: 30px;
    padding: 5px 10px;
    margin: 0 10px;
}

#messages .div-edit .send-button {
    height: 30px;
    width: 30px;
    background-image: url('../img/correct.svg');
    margin: auto 20px;
    padding: 20px;
}

#messages .div-edit .cancel-button {
    height: 25px;
    width: 25px;
    background-size: 25px;
    background-image: url('../img/cancel.svg');
    margin: auto 20px;
    padding: 20px;
}